<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: rgb(204,204,204); 
          }
          page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-top: 2 cm;
            margin-bottom: 0.5cm;
            /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
          }
          page[size="A4"] {  
            width: 21cm;
            height: 29.7cm; 
          }
    </style>
</head>
    
<body>
        <page size="A4">
            <h2>
                <div style="padding-top: 10px;padding-left: 10px;width:57%;">
                <img src="/static/images/nits_logo.png" style="height:120px;float:left;">
                <h3 style="font-weight: 100;float:left;">Health Centre, NIT Silchar<br>
                स्वास्थ्य केंद्र, एन.आई.टी सिलचर</h3>
                </div>
                <div style="padding-top: 31px;padding-left: 10px;float:right">
                    <span style="font-weight:100">Dr. Doctor Name <br> MBBS,MD,....</span>
                </div>
            </h2>
            <hr style="width:99%;border-width:2px;">

            <div style="padding:10px">
                <div style="width:60%;float:left"><span style="float:left;"><b>Name:</b> Charlotte Elizabeth Alannah &nbsp;&nbsp;</span> 
                    <span style="float:right;"><b>Patient ID:</b> 15-1-5-105&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div style="width:35%;float:right;">
                    <span style="float:right;"><b>Date:</b> 20/04/2019</span>
                    <span style="float:left;"><b>Age:</b> .... yr&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <hr style="width:99%;border-width:2px;">
            <div>
                <div id="col1" style="float:left;padding:10px;width:20%"><b><u>Complaints</u></b>

                    <div style="width:2px;background-color:black;height:200px;float:right;"></div>
                </div>                
                <div id="col2" style="float:right;padding:10px;width:74%">
                <table style="width: -webkit-fill-available;border: 1px solid #dddddd">
                    <tr>
                        <th style="text-align:left;border: 1px solid #dddddd">Medicine Name</th>
                        <th style="text-align:left;border: 1px solid #dddddd">Quantity</th>
                        <th style="text-align:left;border: 1px solid #dddddd">Dosage</th>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #dddddd">Paracetamol</td>
                        <td style="border: 1px solid #dddddd">10</td>
                        <td style="border: 1px solid #dddddd">2 times a day</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #dddddd">Paracetamol</td>
                        <td style="border: 1px solid #dddddd">10</td>
                        <td style="border: 1px solid #dddddd">2 times a day</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #dddddd">Paracetamol</td>
                        <td style="border: 1px solid #dddddd">10</td>
                        <td style="border: 1px solid #dddddd">2 times a day</td>
                    </tr>
                </table>
                </div>     
            </div>
        </page>
</body>
</html>
